<div class="container">
  <h1>Journey Details</h1>
  <h3>From: <%=@journey.from %></h3>
  <h3>To: <%=@journey.to %></h3>
  <h3>Departure Date: <%=@journey.departure %></h3>
  <h3>Capacity: <%=@journey.capacity %></h3>
  <h3>Rate: <%=@journey.rate %></h3><br>
  <%= link_to "Back", traveler_journeys_path(@journeys), class: 'btn btn-primary'%>
  <td><%= link_to 'Edit', edit_traveler_journey_url(@journey), class: 'btn btn-warning'%></td>
</div>  