<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">  
<%= form_with(model: order) do |form| %>

  <br>
  <div class="form-group">
      <%= form.label :travelers, class:'form-label mb-2 mt-3' %><br />
      <%= form.select :travelers,User.all.traveler.pluck(:first_name),{prompt:'Select'},{class: "form-control"}%>
  <div class="form-group">
      <%= form.label :from, class:'form-label mb-2 mt-3' %><br />
      <%= form.select :from,Journey.all.pluck(:from),{prompt:'Select'},{class: "form-control"}%>
    </div>
    <div class="form-group">
      <%= form.label :to, class:'form-label mb-2 mt-3' %><br />
      <%= form.select :to,Journey.all.pluck(:to),{prompt:'Select'},{class: "form-control"}%>
    </div>
    <div class="form-group">
      <%= form.label :weight_in_kgs, class:'form-label mb-2 mt-3' %><br />
      <%= form.select :weight_in_kgs,Journey.all.pluck(:capacity),{prompt:'Select'},{class: "form-control"}%>
    </div>

  <div class='form-group'>
    <%= form.label :receiver_name, class:'form-label mb-2 mt-3',rows:'4',cols:'50' %>
    <%= form.text_field :receiver_name, class:'form-control form-control-lg' %>
  </div>

  <div class='form-group'>
    <%= form.label :contact, class:'form-label mb-2 mt-3' %>
    <%= form.number_field :contact, class:'form-control form-control-lg'%>
  </div>

  <br>

  <div>
    <%= form.submit class: "btn btn-primary"%>
    <%= link_to 'Back', orders_path, class: "btn btn-secondary"%>
  </div>
<% end %>
