<div class='container'> 
  <h1>Orders</h1>
  <table>
    <thead>
      <table class="w3-table-all">
      <tr class="w3-light-grey w3-hover-grey">
        <th>Traveler</th>
        <th>Sender Name</th>
        <th>From</th>
        <th>To</th>
        <th>Weight KG</th>
        <th>Receiver Name</th>
        <th>Status</th>
        <th>Contact</th>
        <th colspan = '3'>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <tr class="w3-hover-white">
          <td> <%=order.traveler.first_name%></td>
          <td> <%=order.sender_name%></td>
          <td> <strong><%= order.from %></strong> </td>
          <td> <strong><%= order.to%></strong> </td>
          <td> <%= order.weight %> </td>
          <td> <strong><%= order.receiver_name %></strong> </td>
          <td> <strong><%= order.status %></strong> </td>
          <td> <strong><%= order.contact %></strong> </td>
          <td><%= link_to 'View',order_url(order), class: 'btn btn-light'%></td>  
          <td><%= link_to 'Delete',order_url(order), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: 'btn btn-danger' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>