<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
      <%=link_to 'Home',root_path, class:"nav-link active"%>
    </li>
      
    <% if current_user && current_user.traveler? %>
      <li class="nav-item active">
        <%= link_to "Recieved Orders", received_orders_path, class: "nav-link" %>
      </li>
    <%end%>
    <% if current_user && current_user.traveler? %>
      <li class="nav-item active">
        <%= link_to "Your Journeys", traveler_journeys_path, class: "nav-link" %>
      </li>
    <%end%>
    <% if current_user && current_user.sender? %>
      <li class="nav-item active">
        <%= link_to "Destinations",journey_list_path, class: "nav-link" %>
      </li>
    <%end%>
    <% if current_user && current_user.traveler? %>
      <li class="nav-item active">
        <%= link_to "Create a journey", new_traveler_journey_path, class: "nav-link" %>
      </li>
    <%end%>
    <% if current_user && current_user.sender? %>
      <li class="nav-item active">
        <%= link_to "Your Orders", orders_path, class: "nav-link"%>
      </li>
    <%end%>
    <% if current_user %>
      <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      <strong><%=current_user.role%></strong>
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="nav-item active">
        <%= link_to "Edit Profile", edit_user_registration_path(current_user), class: "nav-link"%></a></li>
      </ul>
    <%end%>
  </ul>
  <% if user_signed_in? %>
    <div style="margin-right: 100px;">
      <%= link_to 'Sign Out', destroy_user_session_path,data: {turbo_method: :delete},class:'btn btn-danger'  %>
    </div>
  <% end %>
</div>